<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    svg {
      font: 10px sans-serif;
      shape-rendering: crispEdges;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
    }

    path.domain {
      stroke: none;
    }

    .y .tick line {
      stroke: #ddd;
    }
  </style>
  <title id="countyTabTitle">Test Title</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
  <form>
    <input type="button" value="Go back to map" onclick="history.back()">
  </form>
  <div class="wrapper">
    <div class="sidebar">
      <h2>NY State Oil, Gas and Water Production</h2>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/MapView">Map</a></li>
        <li><a href="/CompanyVsProductionByYearView">Company</a></li>
        <li><a href="/CountyVsProductionByYearView">CountyVsOilView</a></li>
        <li><a href="#">Example</a></li>
        <li><a href="#">Example</a></li>
        <li><a href="/About">About</a></li>
      </ul>
    </div>
    <div class="main_content">
      <div class="header">
        <h3 id="countyPageTitle"></h3>
      </div>
      <div id="countyView">

      </div>
      <!-- <div id="observablehq-ba488fa1"></div> -->
      <!-- <div id="observablehq-7deb0a06"></div> -->
    </div>
  </div>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/CountyData.js"></script>
  <script>
  </script>
</body>

</html>