<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>NY State Oil, Gas and Water Production</title>
	<link rel="stylesheet" href="/styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

	<div class="wrapper">
		<div class="sidebar">
			<h2>NY State Oil, Gas and Water Production</h2>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/MapView">Map</a></li>
				<li><a href="/CompanyVsProductionByYearView">Company</a></li>
				<li><a href="/CountyVsProductionByYearView">CountyVsOilView</a></li>
				<li><a href="#">Example</a></li>
				<li><a href="#">Example</a></li>
				<li><a href="/About">About</a></li>
			</ul>
		</div>
		<div class="main_content">
			<div class="header">
				<h3>County vs Production by Year</h3>
			</div>
			<div class="info" id="info">

				<form id="utility">
					<input type="radio" name="utility" value="oil">Oil
					<input type="radio" name="utility" value="gas">Gas
					<input type="radio" name="utility" value="water">Water<br>
				</form>

			</div>
		</div>
	</div>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<!-- <script src="/CountyVsProductionByYear.js"></script> -->
	<script>
		const margin = ({ top: 20, right: 30, bottom: 30, left: 40 });
		const width = 960 - margin.left - margin.right;
		const height = 500 - margin.top - margin.bottom;
		const svg = d3.select("#info").append("svg")
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		d3.selectAll(("input[name='utility']")).on("change", function () {
			createGraph(this.value);
		})

		function createGraph(utility) {

			d3.selectAll(".line").remove();
			d3.selectAll(".domain").remove();
			d3.selectAll(".tick").remove();
			d3.json('https://gist.githubusercontent.com/aale12/b36bf8b641f2e64bb305f7f28a61195a/raw/bf3b2aa459e1ad78e2482fadae6bfb74d2a9f763/countyvsoilyeartest').then((data) => {

				//reformat date
				data.forEach(d => {
					d.year = new Date(+d.year, 0, 1);

				});

				// sorts data ascending
				function sortByDate(a, b) {
					return a.year - b.year;
				}
				data = data.sort(sortByDate);

				console.log(data);

				//sort data into counties
				const dataGroup = d3.nest()
					.key(function (d) {
						return d.county;
					})
					.entries(data);
				console.log("dataGroup is: ");
				console.log(dataGroup);

				dataGroup.forEach(d => {
					d.values.forEach(s => {

					})
				})

				//display data based on radio button selection
				if (utility == "oil") {
					const valueLine = d3.line()
						.x(d => x(d.year))
						.y(d => y(d.oilProduction))
						.defined(function (d) { return d.oilProduction || d.oilProduction === '0' });

					const x = d3.scaleTime().domain(d3.extent(data, d => d.year)).range([0, width]);
					const y = d3.scaleLinear().domain([0, d3.max(data, d => d.oilProduction)]).nice().range([height, 0]);
					drawGraph(valueLine, x, y);

				} else if (utility == "gas") {
					const valueLine = d3.line()
						.x(d => x(d.year))
						.y(d => y(d.gasProduction))
						.defined(function (d) { return d.gasProduction || d.gasProduction === '0' });

					const x = d3.scaleTime().domain(d3.extent(data, d => d.year)).range([0, width]);
					const y = d3.scaleLinear().domain([0, d3.max(data, d => d.gasProduction)]).nice().range([height, 0]);
					drawGraph(valueLine, x, y);

				} else if (utility == "water") {
					const valueLine = d3.line()
						.x(d => x(d.year))
						.y(d => y(d.waterProduction))
						.defined(function (d) { return d.waterProduction || d.waterProduction === '0' });

					const x = d3.scaleTime().domain(d3.extent(data, d => d.year)).range([0, width]);
					const y = d3.scaleLinear().domain([0, d3.max(data, d => d.waterProduction)]).nice().range([height, 0]);
					drawGraph(valueLine, x, y)
				}

				function drawGraph(valueLine, x, y) {
					const lineOpacity = "0.25";
					const lineOpacityHover = "0.85";
					const otherLinesOpacityHover = "0.1";
					const lineStroke = "3.5px";
					const lineStrokeHover = "4.5px";

					var color = d3.scaleOrdinal(d3.schemeCategory10);

					const path = svg.selectAll("path")
						.data(dataGroup)
						.enter()
						.append("g")
						//county text data
						.on("mousemove", function (d, i) {
							svg.select(".title-text").remove();
							svg.select(".rect").remove();
							svg.append("text")
								.attr("class", "title-text")
								.style("fill", "black")
								.text(d.key)
								.attr("text-anchor", "middle")
								.attr("x", d3.mouse(this)[0] + 10)
								.attr("y", d3.mouse(this)[1] - 15);
						})
						.on("mouseout", function (d) {
							svg.select(".title-text").remove();
						})

						//line data
						.append('path')
						.attr('class', 'line')
						.attr('d', d => valueLine(d.values))
						.style('stroke', (d, i) => color(i))
						.style('opacity', lineOpacity)
						.style("stroke-width", lineStroke)
						.on("mouseover", function (d) {
							d3.selectAll('.line')
								.style('opacity', otherLinesOpacityHover);
							d3.select(this)
								.style('opacity', lineOpacityHover)
								.style("stroke-width", lineStrokeHover)
								.style("cursor", "pointer");
						})
						.on("mouseout", function (d) {
							d3.selectAll(".line")
								.style('opacity', lineOpacity);
							d3.select(this)
								.style("stroke-width", lineStroke)
								.style("cursor", "none");
						});

					// add the X Axis
					svg.append("g")
						.attr("transform", "translate(0," + height + ")")
						.call(d3.axisBottom(x));

					// add the Y Axis
					svg.append("g")
						.call(d3.axisLeft(y));
				}
			})
		}
	</script>
</body>

</html>