<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NY State Oil Production</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>NY State Oil Production</h2>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/MapView">Map</a></li>
                <li><a href="/CompanyView">Company</a></li>
                <li><a href="/CountyVsOilProductionByYearView">CountyVsOilView</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Example</a></li>
            </ul>
        </div>
        <div class="main_content">
<!--
            <div class="header">
                <h3>NY State Oil Production</h3>
            </div>
-->
            <div class="info">
                <div>
                    </br></br><h1>NY State Oil Production</h1></br>
                </div>

                <div>
                    "NY State Oil Production" is a project developed by Revature's April 23rd 2020 Big Data Batch. The objective is to use all the concepts learned throughout the training program to build an automated big data pipeline for streaming in oil and gas information from New York State Dept. of Environmental Conservation Division of Mineral Resources and provide a visual representation for tracking the history of a wellbore's production of oil, gas, or water during its lifecycle.
                </div>
<!--                <div><h2>Batch</h2></div> -->
                <div>
                    <h3>Batch Instructor: </h3>
                    Mehrab Rahman
                </div>

                <div><h2>Groups</h2></div>
                <div class="grid">
                    <div>
                        <h3>Quality Assurance:</h3>
                        Assures code quality, conducts unit testing, and integration testing. 
                        </br>
                        <strong>Technologies:</strong> JUnit
                        </br></br>
                        <strong>Team Lead:</strong> John Medlock
                        <table>
                            <tr>
                                <td><strong>Members: </strong></td>
                                <td>Jacob Macklin</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Jeremy Tran</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Mason Noyce</td>
                            </tr>                        
                        </table>
                    </div>
                    <div>
                        <h3>DevOps:</h3>
                        Retrieves the data from S3 and produces the Kafka stream for consumption. 
                        </br>
                        <strong>Technologies:</strong> Apache Kafka, Amazon MSK, Amazon EC2
                        </br></br>
                        <strong>Team Lead:</strong> Sutter Grune
                        <table>
                            <tr>
                                <td><strong>Members: </strong></td>
                                <td>Daniel Fabela</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Jay Patel</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h3>Spark Streaming:</h3>
                        Consumes the Kafka stream, processes the data, persists the data to a PostgreSQL database. 
                        </br>
                        <strong>Technologies:</strong> Apache Spark, Apache Kafka, Docker, PostgreSQL
                        </br></br>
                        <strong>Team Lead:</strong> Phuc Le
                        <table>
                            <tr>
                                <td><strong>Members: </strong></td>
                                <td>Christian Castillo</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Garrison Adams</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Pejal Rath</td>
                            </tr>                        
                        </table>
                    </div>
                    <div>
                        <h3>Dashboard:</h3>
                        Utilizes Spring boot, web, jpa, and D3 to render data from a database. 
                        </br>
                        <strong>Technologies:</strong> HTML, CSS, D3.js, Spring MVC
                        </br></br>
                        <strong>Team Lead:</strong> Jeffrey Magina
                        <table>
                            <tr>
                                <td><strong>Members: </strong></td>
                                <td>Anthony Le</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Brandon Nelsen</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Cynthia Yang</td>
                            </tr>                        
                        </table>
                    </div>
                </div>
                </br>
 <!--
                <div>
                    <table>
                        <tr>
                            <th>DevOps</th>
                            <th>Quality Assurance</th>
                            <th>Spark</th>
                            <th>Dashboard</th>
                        </tr>
                        <tr>
                            <td>Sutter Grune</td>
                            <td>John Medlock</td>
                            <td>Phuc Le</td>
                            <td>Jeffrey Magina</td>
                        </tr>
                        <tr>
                            <td>Daniel Fabela</td>
                            <td>Jacob Macklin</td>
                            <td>Christian Castillo</td>
                            <td>Anthony Le</td>
                        </tr>
                        <tr>
                            <td>Jay Patel</td>
                            <td>Jeremy Tran</td>
                            <td>Garrison Adams</td>
                            <td>Brandon Nelsen</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Mason Noyce</td>
                            <td>Pejal Rath</td>
                            <td>Cynthia Yang</td>
                        </tr>
                    </table>
                </div>
-->
<!--
                <div>
                    </br></br><h2>Technologies Used</h2>
                </div>
                <div>
                    Java </br>
                    Apache Spark </br>
                    Apache Kafka </br>
                    Maven </br>
                    JUnit </br>
                    Amazon MSK </br>
                    Amazon EC2 </br>
                    Docker </br>
                    PostgreSQL </br>
                    Spring Framework </br>
                    D3 </br>
                    HTML </br>
                    CSS </br>
                    Git </br>
                    GitHub </br>
                </div>
-->

            </div>
        </div>
    </div>

</body>

</html>