<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NY State Oil Production</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>NY State Oil Production</h2>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/MapView">Map</a></li>
                <li><a href="/CompanyView">Company</a></li>
                <li><a href="/CountyVsOilProductionByYearView">CountyVsOilView</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Example</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <h3>County vs Oil Production by Year</h3>
            </div>
            <div class="info">
                <div>
                    <h1>NY State Oil Production</h1>
                </div>
                <div>
<p>&nbsp;</p>
<ol>
<li>api_well_number: American Petroleum Institute 14 digit Unique Well Identification Number</li>
<li>county: county that the well is located in</li>
<li>company_name: company that contructed well</li>
<li>api_hole_number: the 6th-10th digits of API well number, unique API hole number</li>
<li>sidetrack_code: the 11th and 12th digits of API well number, with the original vertical well as "00", and the first directional sidetrack as "01".</li>
<li>completion_code: 2 digit Company completion code</li>
<li>well_type_code: refer to "Table 1" for respective well type codes</li>
<li>production_field: Production field of well</li>
<li>well_status_code: refer to "Table 2" for respective well statuc codes</li>
<li>well_name: Name of well</li>
<li>town: town where well is located</li>
<li>producing_Formation: producing formation for the well</li>
<li>months_in_production: number of months in production</li>
<li>gas_produced_mcf: amount of gas produced (Mcf)</li>
<li>water_produced_bbl: amount of water produced (bbl)</li>
<li>oil_produced_bbl: amount of oil produced (bbl)</li>
<li>reporting_year: last date record was updated</li>
<li>new_georeferenced_column: the city, state and longitude, latitude of where the well is located</li>
</ol>
<div class="center">
<table border="1" width="37%"><caption><strong>Table 1: Well Type Codes</strong></caption>
<tbody>
<tr>
<td>BR</td>
<td>Brine</td>
</tr>
<tr>
<td>DH</td>
<td>Dry Hole</td>
</tr>
<tr>
<td>DS</td>
<td>Disposal</td>
</tr>
<tr>
<td>DW</td>
<td>Dry Wildcat</td>
</tr>
<tr>
<td>GD</td>
<td>Gas Development</td>
</tr>
<tr>
<td>GE</td>
<td>Gas Extension</td>
</tr>
<tr>
<td>GW</td>
<td>Gas Wildcat</td>
</tr>
<tr>
<td>IG</td>
<td>Gas Injection Well</td>
</tr>
<tr>
<td>IW</td>
<td>Enhanced Oil Recovery - Injection</td>
</tr>
<tr>
<td>LP</td>
<td>Liquefied Petroleum Gas Storage</td>
</tr>
<tr>
<td>MB</td>
<td>Monitoring Brine</td>
</tr>
<tr>
<td>MM</td>
<td>Monitoring Miscellaneous</td>
</tr>
<tr>
<td>MS</td>
<td>Monitoring Storage</td>
</tr>
<tr>
<td>NL</td>
<td>Not Listed</td>
</tr>
<tr>
<td>OB</td>
<td>Observation Well</td>
</tr>
<tr>
<td>OD</td>
<td>Oil Development</td>
</tr>
<tr>
<td>OE</td>
<td>Oil Extension</td>
</tr>
<tr>
<td>OW</td>
<td>Oil Wildcat</td>
</tr>
<tr>
<td>SG</td>
<td>Stratigraphic</td>
</tr>
<tr>
<td>ST</td>
<td>Storage</td>
</tr>
<tr>
<td>TH</td>
<td>Geothermal</td>
</tr>
<tr>
<td>UN</td>
<td>Unknown</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<div class="center">
<table border="1"><caption><strong>Table 2: Well Status Codes</strong></caption>
<tbody>
<tr>
<td>AC</td>
<td>Active</td>
</tr>
<tr>
<td valign="TOP">AR</td>
<td>Application Received to Drill/Plug/Convert</td>
</tr>
<tr>
<td>CA</td>
<td>Cancelled</td>
</tr>
<tr>
<td>DC</td>
<td>Drilling Completed</td>
</tr>
<tr>
<td>DD</td>
<td>Drilled Deeper</td>
</tr>
<tr>
<td>DG</td>
<td>Drilling in Progress</td>
</tr>
<tr>
<td>DH</td>
<td>Dry Hole</td>
</tr>
<tr>
<td>EX</td>
<td>Expired Permit</td>
</tr>
<tr>
<td>IN</td>
<td>Inactive</td>
</tr>
<tr>
<td>NR</td>
<td valign="TOP">Not Reported on AWR</td>
</tr>
<tr>
<td valign="TOP">PA</td>
<td>Plugged and Abandoned</td>
</tr>
<tr>
<td>PI</td>
<td>Permit Issued</td>
</tr>
<tr>
<td>PM</td>
<td valign="TOP">Plugged Back Multilateral</td>
</tr>
<tr>
<td>RE</td>
<td>Refunded Fee</td>
</tr>
<tr>
<td valign="TOP">RW</td>
<td>Released - Water Well</td>
</tr>
<tr>
<td valign="TOP">SI</td>
<td>Shut-In</td>
</tr>
<tr>
<td valign="TOP">TA</td>
<td>Temporarily Abandoned</td>
</tr>
<tr>
<td>TR</td>
<td>Transferred Permit</td>
</tr>
<tr>
<td>UN</td>
<td>Unknown</td>
</tr>
<tr>
<td>UL</td>
<td>Unknown Located</td>
</tr>
<tr>
<td>UM</td>
<td>Unknown Not Found</td>
</tr>
<tr>
<td>VP</td>
<td>Voided Permit</td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>
</div>


                </div>
                
            </div>
        </div>
    </div>

</body>

</html>