<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NY State Oil Production</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>NY State Oil Production</h2>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/MapView">Map</a></li>
                <li><a href="/CompanyView">Company</a></li>
                <li><a href="/CountyVsOilProductionByYearView">CountyVsOilView</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Example</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <h3>County vs Oil Production by Year</h3>
            </div>
            <div class="info">
                <div>
                    <h1>NY State Oil Production Beginning 2001</h1>
                </div>
                <div>
                	<div>
                	</div>

<p><strong>General Description</strong><br />The Division of Mineral Resources maintains a data management system on wells regulated under the Oil, Gas and Solution Mining Law (OGSML) More than 75,000 wells have been drilled in New York for oil, gas, solution salt mining, stratigraphic, injection, geothermal, brine disposal, and underground gas storage. Computerized records currently exist on roughly 40,000 wells, of which about 14,000 are active. All of this data is created and maintained for the use of the Division, and as such is covered by a disclaimer regarding the use of this data.</p>
<p><strong>Data Collection Methodology</strong><br />Information is provided to the Division of Mineral Resources by regulated operators through various regulatory filings. Most of the information provided in this dataset comes from Annual Well Reports filed every year in the spring. This information is used to regulate the oil and gas industry in New York, as well as track the history of a wellbore&rsquo;s production of oil, gas, or water during its lifecycle.</p>
<p>Production data is acquired by means of annual well reports submitted by operators to the Division of Mineral Resources in the spring of each year. This data is kept confidential for six months and is released to the Division&rsquo;s public website in early July. During the spring reporting cycle, purchasers and transporters of oil and gas similarly report the quantity of product produced during the reporting year that they either transported or purchased for refining.</p>
<p><strong>Statistical and Analytic Issues</strong><br />This data was collected on a per well basis by each operator and supplied to the Division of Mineral Resources for verification. Not all operators who are sent reports end up filing their production reports on time or to the satisfaction of the Division. Through enforcement activities, late filings have been addressed and added to the datasets after the fact and allow for a more complete assessment of the annual production of oil and gas in New York. Late filings are added to the production dataset when the most current dataset is created for distribution. Approximately 85%-90% of operators end up reporting on time and to a satisfactory level. The rest are handled through enforcement activities.</p>
<p><strong>Limitations of Data Use</strong><br />Data reported on the Annual Well Report is presumed to be accurate and is double checked against reported values from oil and gas purchasers and transporters.</p>
<p><strong>Columns in Dataset</strong></p>
<ol>
<li>api_well_number: American Petroleum Institute 14 digit Unique Well Identification Number</li>
<li>county: county that the well is located in</li>
<li>company_name: company that contructed well</li>
<li>api_hole_number: the 6th-10th digits of API well number, unique API hole number</li>
<li>sidetrack_code: the 11th and 12th digits of API well number, with the original vertical well as "00", and the first directional sidetrack as "01".</li>
<li>completion_code: 2 digit Company completion code</li>
<li>well_type_code: refer to "Table 1" for respective well type codes</li>
<li>production_field: Production field of well</li>
<li>well_status_code: refer to "Table 2" for respective well statuc codes</li>
<li>well_name: Name of well</li>
<li>town: town where well is located</li>
<li>producing_Formation: producing formation for the well</li>
<li>months_in_production: number of months in production</li>
<li>gas_produced_mcf: amount of gas produced (Mcf)</li>
<li>water_produced_bbl: amount of water produced (bbl)</li>
<li>oil_produced_bbl: amount of oil produced (bbl)</li>
<li>reporting_year: last date record was updated</li>
<li>new_georeferenced_column: the city, state and longitude, latitude of where the well is located</li>
</ol>
<div class="center">
<table border="1" width="37%"><caption><strong>Table 1: Well Type Codes</strong></caption>
<tbody>
<tr>
<td>BR</td>
<td>Brine</td>
</tr>
<tr>
<td>DH</td>
<td>Dry Hole</td>
</tr>
<tr>
<td>DS</td>
<td>Disposal</td>
</tr>
<tr>
<td>DW</td>
<td>Dry Wildcat</td>
</tr>
<tr>
<td>GD</td>
<td>Gas Development</td>
</tr>
<tr>
<td>GE</td>
<td>Gas Extension</td>
</tr>
<tr>
<td>GW</td>
<td>Gas Wildcat</td>
</tr>
<tr>
<td>IG</td>
<td>Gas Injection Well</td>
</tr>
<tr>
<td>IW</td>
<td>Enhanced Oil Recovery - Injection</td>
</tr>
<tr>
<td>LP</td>
<td>Liquefied Petroleum Gas Storage</td>
</tr>
<tr>
<td>MB</td>
<td>Monitoring Brine</td>
</tr>
<tr>
<td>MM</td>
<td>Monitoring Miscellaneous</td>
</tr>
<tr>
<td>MS</td>
<td>Monitoring Storage</td>
</tr>
<tr>
<td>NL</td>
<td>Not Listed</td>
</tr>
<tr>
<td>OB</td>
<td>Observation Well</td>
</tr>
<tr>
<td>OD</td>
<td>Oil Development</td>
</tr>
<tr>
<td>OE</td>
<td>Oil Extension</td>
</tr>
<tr>
<td>OW</td>
<td>Oil Wildcat</td>
</tr>
<tr>
<td>SG</td>
<td>Stratigraphic</td>
</tr>
<tr>
<td>ST</td>
<td>Storage</td>
</tr>
<tr>
<td>TH</td>
<td>Geothermal</td>
</tr>
<tr>
<td>UN</td>
<td>Unknown</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<div class="center">
<table border="1"><caption><strong>Table 2: Well Status Codes</strong></caption>
<tbody>
<tr>
<td>AC</td>
<td>Active</td>
</tr>
<tr>
<td valign="TOP">AR</td>
<td>Application Received to Drill/Plug/Convert</td>
</tr>
<tr>
<td>CA</td>
<td>Cancelled</td>
</tr>
<tr>
<td>DC</td>
<td>Drilling Completed</td>
</tr>
<tr>
<td>DD</td>
<td>Drilled Deeper</td>
</tr>
<tr>
<td>DG</td>
<td>Drilling in Progress</td>
</tr>
<tr>
<td>DH</td>
<td>Dry Hole</td>
</tr>
<tr>
<td>EX</td>
<td>Expired Permit</td>
</tr>
<tr>
<td>IN</td>
<td>Inactive</td>
</tr>
<tr>
<td>NR</td>
<td valign="TOP">Not Reported on AWR</td>
</tr>
<tr>
<td valign="TOP">PA</td>
<td>Plugged and Abandoned</td>
</tr>
<tr>
<td>PI</td>
<td>Permit Issued</td>
</tr>
<tr>
<td>PM</td>
<td valign="TOP">Plugged Back Multilateral</td>
</tr>
<tr>
<td>RE</td>
<td>Refunded Fee</td>
</tr>
<tr>
<td valign="TOP">RW</td>
<td>Released - Water Well</td>
</tr>
<tr>
<td valign="TOP">SI</td>
<td>Shut-In</td>
</tr>
<tr>
<td valign="TOP">TA</td>
<td>Temporarily Abandoned</td>
</tr>
<tr>
<td>TR</td>
<td>Transferred Permit</td>
</tr>
<tr>
<td>UN</td>
<td>Unknown</td>
</tr>
<tr>
<td>UL</td>
<td>Unknown Located</td>
</tr>
<tr>
<td>UM</td>
<td>Unknown Not Found</td>
</tr>
<tr>
<td>VP</td>
<td>Voided Permit</td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>
</div>
<p>Information from:&nbsp;<a href="https://data.ny.gov/Energy-Environment/Oil-and-Gas-Annual-Production-Beginning-2001/mxea-iw3u">https://data.ny.gov/Energy-Environment/Oil-and-Gas-Annual-Production-Beginning-2001/mxea-iw3u</a></p>



                	<div>
                	</div>


                </div>
                
            </div>
        </div>
    </div>

</body>

</html>